{% extends 'base.html.twig' %}

{% block body %}

    {{ render(controller('App\\Controller\\CourseController::nouveau')) }}

    <h1>Liste de courses</h1>

    <ul>
        {% for achat in achats %}
            <li>
                {% if achat.pris %}
                    <strike>{{ achat.quantite }} x {{ achat.produit }}</strike>
                {% else %}
                    {{ achat.quantite }} x {{ achat.produit }}
                {% endif %} 
            </li>
        {% endfor %}
    </ul>

{% endblock %}
