{% extends 'base.html.twig' %}

{% block body %}

    {{ render(controller('App\\Controller\\CourseController::nouveau')) }}

    <h1>Liste de courses</h1>

    <ul>
        {% for achat in achats %}
            <li>
                {% if achat.pris %}
                    <strike>{{ achat.quantite }} x {{ achat.produit }}</strike>
                {% else %}
                    <a href="{{ path('prendre_produit', { id: achat.id }) }}">&check;</a> {{ achat.quantite }} x {{ achat.produit }}
                {% endif %} 
            </li>
        {% endfor %}
    </ul>

    <p>
        <a href="{{ path('supprimer_produits_pris') }}" class="btn btn-warning">Supprimer produits pris</a>
        <a href="{{ path('supprimer_tous_produits') }}" class="btn btn-danger">Supprimer tous produits</a>
    </p>

{% endblock %}
